Misc/cubemonitor-bigbang-stm32aws.json
[
  {
    "id": "829549ee.c82c98",
    "type": "tab",
    "label": "ST Discovery Board Dashboard",
    "disabled": false,
    "info": "ST Discovery Board Dashboard"
  },
  {
    "id": "75e807b7.5b0548",
    "type": "mqtt in",
    "z": "829549ee.c82c98",
    "name": "",
    "topic": "dt/stm32l475e/sensor-data/topic",
    "qos": "1",
    "datatype": "auto",
    "broker": "c5515cc7.9f059",
    "x": 130,
    "y": 120,
    "wires": [["b9f10d28.71c0d"]]
  },
  {
    "id": "b9f10d28.71c0d",
    "type": "json",
    "z": "829549ee.c82c98",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 430,
    "y": 160,
    "wires": [
      [
        "e839cc48.59081",
        "2f89249e.b1b6cc",
        "450db5c8.43fd4c",
        "becaebec.81c948",
        "17f850ad.dd5f3f",
        "20bf7313.fa7a1c",
        "27103887.e5c438",
        "477a7643.be19a8"
      ]
    ]
  },
  {
    "id": "e839cc48.59081",
    "type": "function",
    "z": "829549ee.c82c98",
    "name": "Humidity",
    "func": "msg.payload = msg.payload.Hum\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 580,
    "y": 120,
    "wires": [["894047b1.881bc8"]]
  },
  {
    "id": "894047b1.881bc8",
    "type": "ui_gauge",
    "z": "829549ee.c82c98",
    "name": "",
    "group": "7ddca874.b36068",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Humidity",
    "label": "% RH",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 740,
    "y": 120,
    "wires": []
  },
  {
    "id": "2f89249e.b1b6cc",
    "type": "debug",
    "z": "829549ee.c82c98",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 390,
    "y": 300,
    "wires": []
  },
  {
    "id": "450db5c8.43fd4c",
    "type": "function",
    "z": "829549ee.c82c98",
    "name": "Pressure",
    "func": "msg.payload = msg.payload.Press\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 220,
    "wires": [["2274ca92.be6866"]]
  },
  {
    "id": "2274ca92.be6866",
    "type": "ui_gauge",
    "z": "829549ee.c82c98",
    "name": "",
    "group": "7ddca874.b36068",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Pressure",
    "label": "hPa",
    "format": "{{value}}",
    "min": "260",
    "max": "1260",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 780,
    "y": 180,
    "wires": []
  },
  {
    "id": "7b51c638.d5c3e8",
    "type": "ui_text",
    "z": "829549ee.c82c98",
    "group": "ed42f2ab.b1719",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "ACCELERATION (RAW VALUES)",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 920,
    "y": 260,
    "wires": []
  },
  {
    "id": "b7a2b5dd.578938",
    "type": "ui_text",
    "z": "829549ee.c82c98",
    "group": "ed42f2ab.b1719",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "GYROSCOPE",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 880,
    "y": 320,
    "wires": []
  },
  {
    "id": "ff483067.77037",
    "type": "ui_text",
    "z": "829549ee.c82c98",
    "group": "ed42f2ab.b1719",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "MAGNETOMETER",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 890,
    "y": 400,
    "wires": []
  },
  {
    "id": "becaebec.81c948",
    "type": "function",
    "z": "829549ee.c82c98",
    "name": "Accelerometer",
    "func": "msg.payload = \n{\nX: msg.payload.Accel_X,\nY: msg.payload.Accel_Y,\nZ: msg.payload.Accel_Z\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 300,
    "wires": [["7b51c638.d5c3e8"]]
  },
  {
    "id": "17f850ad.dd5f3f",
    "type": "function",
    "z": "829549ee.c82c98",
    "name": "Gyroscope",
    "func": "msg.payload = \n{\nX: msg.payload.Gyro_X,\nY: msg.payload.Gyro_Y,\nZ: msg.payload.Gyro_Z\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 610,
    "y": 380,
    "wires": [["b7a2b5dd.578938"]]
  },
  {
    "id": "20bf7313.fa7a1c",
    "type": "function",
    "z": "829549ee.c82c98",
    "name": "Magnetometer",
    "func": "msg.payload = \n{\nX: msg.payload.Magn_X,\nY: msg.payload.Magn_Y,\nZ: msg.payload.Magn_Z\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 460,
    "wires": [["ff483067.77037"]]
  },
  {
    "id": "4faa468.763e3b8",
    "type": "mqtt out",
    "z": "829549ee.c82c98",
    "name": "",
    "topic": "$aws/things/bigbang-stm32aws/shadow/update",
    "qos": "1",
    "retain": "",
    "broker": "c5515cc7.9f059",
    "x": 440,
    "y": 600,
    "wires": []
  },
  {
    "id": "606cc488.f196ec",
    "type": "ui_switch",
    "z": "829549ee.c82c98",
    "name": "",
    "label": "LED CONTROL",
    "tooltip": "",
    "group": "7ddca874.b36068",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "$aws/things/bigbang-stm32aws/shadow/update",
    "style": "",
    "onvalue": "{\"state\":{\"desired\":{\"welcome\":\"aws-iot\",\"powerOn\":1}}}",
    "onvalueType": "json",
    "onicon": "",
    "oncolor": "",
    "offvalue": "{\"state\":{\"desired\":{\"welcome\":\"aws-iot\",\"powerOn\":0}}}",
    "offvalueType": "json",
    "officon": "",
    "offcolor": "",
    "x": 120,
    "y": 600,
    "wires": [["4faa468.763e3b8"]]
  },
  {
    "id": "27103887.e5c438",
    "type": "function",
    "z": "829549ee.c82c98",
    "name": "Proximity",
    "func": "msg.payload = msg.payload.Proxi\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 610,
    "y": 520,
    "wires": [["ffaadd71.ac5ab"]]
  },
  {
    "id": "ffaadd71.ac5ab",
    "type": "ui_gauge",
    "z": "829549ee.c82c98",
    "name": "",
    "group": "7ddca874.b36068",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Proximity",
    "label": "units",
    "format": "{{msg.payload}}",
    "min": 0,
    "max": "30",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "2",
    "seg2": "10",
    "x": 830,
    "y": 520,
    "wires": []
  },
  {
    "id": "477a7643.be19a8",
    "type": "function",
    "z": "829549ee.c82c98",
    "name": "Temperature",
    "func": "msg.payload = msg.payload.Temp\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 60,
    "wires": [["5155da0b.49eca4"]]
  },
  {
    "id": "5155da0b.49eca4",
    "type": "ui_gauge",
    "z": "829549ee.c82c98",
    "name": "",
    "group": "7ddca874.b36068",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperature",
    "label": "degC",
    "format": "{{value}}",
    "min": 0,
    "max": "50",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 810,
    "y": 60,
    "wires": []
  },
  {
    "id": "c5515cc7.9f059",
    "type": "mqtt-broker",
    "z": "",
    "name": "AP-NORTHEAST-2",
    "broker": "a22us4k5m5zitr-ats.iot.ap-northeast-2.amazonaws.com",
    "port": "8883",
    "tls": "f68ce2cc.2f53e",
    "clientid": "",
    "usetls": true,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "7ddca874.b36068",
    "type": "ui_group",
    "z": "",
    "name": "ENVIRONMENT SENSOR DATA ",
    "tab": "580cc488.2da5ac",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": true
  },
  {
    "id": "ed42f2ab.b1719",
    "type": "ui_group",
    "z": "",
    "name": "MOTION SENSOR DATA",
    "tab": "580cc488.2da5ac",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": true
  },
  {
    "id": "f68ce2cc.2f53e",
    "type": "tls-config",
    "z": "",
    "name": "",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "42842747fa-certificate.pem.crt",
    "keyname": "42842747fa-private.pem.key",
    "caname": "AmazonRootCA1.pem",
    "servername": "",
    "verifyservercert": true
  },
  {
    "id": "580cc488.2da5ac",
    "type": "ui_tab",
    "z": "",
    "name": "STM32 IOT Discovery Board",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
